#counter-app {
     height: 100%;
     width: 300px;
     position: relative;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     display: flex;
     flex-flow: column;
     justify-content: center;
     text-align: center;
     border-radius: 5px;
}

#counter-app #display {
     height: 150px;
     width: 150px;
     color: #333333;
     margin: 0 auto;
     font-size: calc(150px / 1.5);
     line-height: 150px;
     border-radius: 5px;
     box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
     background: #efefef;
}

#counter-app .container {
     padding: 1em;
}

#counter-app #increment-button {
    position: absolute;
    top: 65px;
    right: 45px;
}

#counter-app #decrement-button {
    position: absolute;
    top: 65px;
    left: 45px;
}

#counter-app .button {
     width: 50px;
     height: 50px;
     position: relative;
     z-index: 100;
     margin: 0 5px;
     overflow: hidden;
     line-height: 50px;
     font-size: 30px;
     cursor: pointer;
     color: #2b2b2b;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
     border-radius: 5px;
     border: none;
     transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#counter-app .button:hover {
     box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25), 0 3px 10px rgba(0, 0, 0, 0.22);
}
