{
  "singleQuote": true,
  "tabWidth": 4,
  "printWidth": 120,
  "trailingComma": "es5",
  "parser": "typescript",
  "noSemi": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always"
}
